<div class="form-box">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, label: "Cocktail Name", placeholder: "Grapefruit Fizz" %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
